.home {
  display: grid;

  grid-template-columns: 0.5fr 1fr 0.5fr;

  gap: 32px;

  margin-top: 32px;

  margin-left: 18px;

  margin-right: 18px;

  section{
    display: flex;

    flex-direction: column;
  
    gap: 32px;

    height:1074px;
  }
}
