@import "./_variables";

.text {
  &-white {
    color: white;
  }
  &-green {
    color: green;
  }
  &-red {
    color: red !important;
  }
  &-yellow {
    color: yellow;
  }
  &-200 {
    font-weight: 200;
  }
  &-300 {
    font-weight: 300;
  }
  &-400 {
    font-weight: 400;
  }
  &-500 {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
  &-700 {
    font-weight: 700;
  }
  &-800 {
    font-weight: 800;
  }
  &-right {
    text-align: right;
  }
}

.d-flex {
  display: flex;
}

.p {
  &-x {
    &-1 {
      padding: 10px;
    }
    &-2 {
      padding: 20px;
    }
    &-3 {
      padding: 30px;
    }
    &-4 {
      padding: 40px;
    }
  }
  &-y {
    &-1 {
      padding: 10px;
    }
    &-2 {
      padding: 20px;
    }
    &-3 {
      padding: 30px;
    }
    &-4 {
      padding: 40px;
    }
    &-5 {
      padding: auto 50px;
    }
  }
}
